[submodule "keypress"]
	path = keypress
	url = git@github.com:MichaelDipperstein/keypress.git
	branch = master
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
	branch = master
[submodule "fmt"]
	path = fmt
	url = git@github.com:fmtlib/fmt.git
